body {
    background-color: darkgreen;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    
}
table {
    width: 600px;
    margin: auto;
   background-color: lightgreen;
    border-collapse: collapse;
    align-content: center;
    border: 1px solid black;
}

caption {
    caption-side: bottom;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
}

td img {
    width: 300px;
    height: 300px;
    padding: 10px;
    display: block;
    margin: auto;
}
footer{
    text-align: center;
}

ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ol li {
    margin-bottom: 10px;
    margin-left: 15px;
    color: black;
}

.order li a {
    color: black;
}


a {
    color: white;
}

/* Vertically center the text */
td {
    vertical-align: middle;
}

.name {
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.sites {
    border: 2px solid black;
    color: rgb(0, 0, 0);
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}